.carousel-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-image img {
    width: 100%;
    display: block;
    transition: transform 1s ease;
  }
  
  .carousel-controls {
    position: absolute;
    bottom: 10px;
    left: 43%;
    transform: translateX(-40%);
    display: flex;
    color: white;
    justify-content: center;
    gap: 10px;
  }
  
  .carousel-controls button {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  