<div class="carousel-container">
    <!-- Imagem exibida -->
    <div class="carousel-image">
      <img [src]="images[currentIndex]" alt="carousel">
    </div>
    <div class="carousel-text">
      <h2>Bem-vindo!</h2>
      <h6>Aqui doadores podem encontrar onde doar mais facilmente!</h6>
      <h6>E instituições de caridade podem se cadastrar no nosso site para ter mais alcance!</h6>
    </div>
    <!-- Controles manuais -->
    <div class="carousel-controls">
      <button (click)="prevImage()">Anterior</button>
      <button (click)="toggleAutoRotate()">
        {{ intervalId ? 'Pausar' : 'Iniciar' }} Rotação
      </button>
      <button (click)="nextImage()">Próxima</button>
    </div>
  </div>
  