<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body>
    <app-header></app-header>
    <main class="c-main">
        <section>
            <div class="d-f v-center"><img class="seta mar-r-l" src="seta-esquerda.png" alt=""><h2>Cadastre-se</h2></div>
            
            <form #signupInstitutionForm="ngForm" (ngSubmit)="submitData(signupInstitutionForm)">

                <label for="description">Descrição</label>
                <textarea class="caixa-texto-p mar-baixo-1 rounded" id="description" name="description" placeholder="Descreva sua instituição. Ex: dados para contato, endereço, entre outros.     Estes dados aparecerão para os doadores quando visualizarem a página da sua instituição." ngModel required rows=6 cols=55></textarea>
                
                <label for="cpfcnpj">CPF/CNPJ</label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="text" id="cpforcnpj" name="cpforcnpj" placeholder="CPF ou CNPJ da instituição" ngModel required email>

                <label for="location">Endereço</label>
                <input (input)="onInput($event)" class="caixa-texto-p mar-baixo-1 rounded" type="text" id="address" name="address" placeholder="Digite aqui o seu endereço" ngModel required email>
                <div ng-model="map" id="map-canvas" style="width: 600px; height: 400px;"></div>     

                <p class="text-center"><button class="btn btn-outline-primary mar-cima-1" type="submit">Finalizar</button></p>
            </form>
            <p></p> 
        </section>
    </main>
    <app-footer></app-footer>
</body>