<!-- rodapé básico -->
<footer style="background-color: #333; color: white; text-align: center; padding: 20px;">
    <p>&copy; 2024 <a style="color: white;" href="https://github.com/Codigo-Novo" target="_blank">Código Novo</a>. Todos os direitos reservados.</p>
    <p>
      <a href="https://www.facebook.com" style="color: white; margin: 0 10px;">Facebook</a>
      <a href="https://www.twitter.com" style="color: white; margin: 0 10px;">Twitter</a>
      <a href="https://www.instagram.com" style="color: white; margin: 0 10px;">Instagram</a>
    </p>
</footer>
  