<body>
    <app-header></app-header>
    <main class="c-main">
        <section>
            <h2>Excluir conta</h2>
            <p>Informe sua senha para continuar essa ação!</p>
            <form action="" method="post">
                <label  for="senha">
                    <input class="caixa-texto-p mar-cima-1 mar-baixo-1" type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                </label>
                <button class="btn-pattern mar-cima-1" type="submit">Excluir</button>
            </form>
        </section>
    </main>
    <app-footer></app-footer>
</body>