body{
    padding: 0;
    margin: 0;
}
label{
    display: block;
    width: 500px;
}
.caixa-texto-p{

    width: 100%;
    font-size: 17px;
    border-color: var(--bluelight2);
}
.c-main{
    width: 600px;
    margin: auto;
    padding-top: 1.5rem;
.caixa-texto-p{
    width: 100%;
    font-size: 17px;
}
.c-main{
    width: 500px;
    margin: auto;
    justify-items: center;
    min-height: 100vh;
}
.error {
    color: rgb(255, 57, 57);
    font-weight: bold;
}