<body>
    <app-navegacao></app-navegacao>
    <main class="c-main">
        <section>
            <div *ngIf="institution; else loading">
                <h1>{{ institution.user }}</h1>
                <p><strong>Descrição:</strong> {{ institution.description }}</p>
                
                <h2>Palavras-chave:</h2>
                <ul>
                  <li *ngFor="let keyword of keywords">{{ keyword.name }}</li>
                </ul>
              </div>
              
              <ng-template #loading>
                <p>Carregando dados da instituição...</p>
              </ng-template>
        </section>
    </main>
    <app-footer></app-footer>
</body>