:root{
    --bluelight1:rgb(234, 233, 255);
    --bluelight2: #c5c5f5;
    --blueintermed: #1411d4;
    --bluedark: #0c098a;
    --orangelight: #f5c255;
    --orange: #f1ac16;
    --yellow: #e2df0e;
    --gray1: #e6e6e6;
    --gray2: #b9b9b9;
}
.fundo-azul{
    background-color: var(--bluelight);
}