<body>
    <app-header></app-header>
    <main class="c-main">
        <section>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div class="v-center d-f "><img class="seta mar-r-l" src="seta-esquerda.png" alt="" (click)="goBack()"><h2>Cadastre-se</h2></div>
           
            <form #signupForm="ngForm" (ngSubmit)="submitData(signupForm)">

                <label for="name">Nome de usuário<span class="red">*</span></label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="text" id="username" name="username" placeholder="Digite seu nome de usuário" ngModel required>

                <label for="name">Nome<span class="red">*</span></label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="text" id="name" name="name" placeholder="Digite seu nome ou de sua instituição" ngModel required>

                <label for="email">E-mail<span class="red">*</span></label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="email" id="email" name="email" placeholder="Digite seu e-mail" ngModel required email>

                <label for="password">Senha<span class="red">*</span></label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="password" id="password" name="password" placeholder="Digite sua senha" ngModel required minlength="6">

                <label for="confirm">Confirmar Senha<span class="red">*</span></label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="password" id="confirm" name="confirm" placeholder="Digite sua senha novamente" ngModel required>
                
                <div *ngIf="!loadingDonator">
                    <p class="text-center"><button class="btn btn-outline-primary mar-cima-1 d-b" type="button" (click)="donator(signupForm)">Cadastrar como DOADOR</button></p>
                </div>
                <div *ngIf="loadingDonator">
                    <p class="text-center"><button class="btn btn-outline-secondary mar-cima-1" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="visually-hidden" role="status">Carregando...</span>
                    </button></p>
                </div>

                <div *ngIf="!loadingInstitution">
                    <p class="text-center"><button class="btn btn-outline-primary mar-cima-1 d-b" type="button" (click)="institution(signupForm)">Cadastrar como INSTITUIÇÃO</button></p>
                </div>
                <div *ngIf="loadingInstitution">
                    <p class="text-center"><button class="btn btn-outline-secondary mar-cima-1" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="visually-hidden" role="status">Carregando...</span>
                    </button></p>
                </div>
            </form>

            <p class="text-center m-0"><a routerLink="/login">Já tenho uma conta, quero entrar</a></p>

        </section>
    </main>
    <app-footer></app-footer>
</body>
