<body>
    <app-header></app-header>
    <main class="c-main">
        <section>
            <div class="v-center d-f "><img class="seta mar-r-l" src="seta-esquerda.png" alt=""><h2>Cadastre-se</h2></div>
           
            <form #signupForm="ngForm" (ngSubmit)="submitData(signupForm)">

                <label for="name">Nome de usuário</label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="text" id="username" name="username" placeholder="Digite seu nome de usuário" ngModel required>

                <label for="name">Nome</label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="text" id="name" name="name" placeholder="Digite seu nome ou de sua instituição" ngModel required>

                <label for="email">E-mail</label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="email" id="email" name="email" placeholder="Digite seu e-mail" ngModel required email>

                <label for="password">Senha</label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="password" id="password" name="password" placeholder="Digite sua senha" ngModel required minlength="6">

                <label for="confirm">Confirmar Senha</label>
                <input class="caixa-texto-p mar-baixo-1 rounded" type="password" id="confirm" name="confirm" placeholder="Digite sua senha novamente" ngModel required>

                <p class="text-center"><button class="btn btn-outline-primary mar-cima-1 d-b" type="button" (click)="donator(signupForm)">Cadastrar como DOADOR</button></p>
                <p class="text-center"><button class="btn btn-outline-primary mar-cima-1 d-b" type="button" (click)="institution(signupForm)">Cadastrar como INSTITUIÇÃO</button></p>
                
            </form>

            <p class="text-center m-0"><a href="#">Já tenho conta</a></p>

        </section>
    </main>
    <app-footer></app-footer>
</body>
